<a href="https://colab.research.google.com/github/surajkumar071/Python/blob/main/24CSA2BC168.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Print Hello Sir`

In [ ]:
print("Hello Sir")

Hello Sir

# `Sum of two by user`

In [ ]:
a = int(input("Enter first number:  "))
b = int(input("Enter second number: "))
c = a + b
print("The sum is: ", c)

Enter first number:  60
Enter second number: 90
The sum is:  150

# `Python Comments`

In [ ]:
# This is a single line Comment
print("Hello Sir")

'''This is a
multi line
comment in python using single qoutes'''

"""This is another way of
multi line comment in
python using double quotes"""

Hello Sir

'This is another way of \nmulti line comment in \npython using double court'

# `Variables`

In [ ]:
x = 10
y = "Suraj"
print(x)
print(y)

10
Suraj

In [ ]:
# Casting
x = str(5) # x will be '5'
y = int(5) # y will be 5
z = float(5) # z will be 5.0
print(x,y,z)

5 5 5.0

In [ ]:
# Checking type of a data type in python using type() function
x = 10
y = "Suraj" #string variable can be declared using single or double quotes both is right
z = 'Ashu'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
# Variable names are case sensitive
a = 20
A = "Suraj"
print(a)
print(type(a))
print(A)
print(type(A))

20
<class 'int'>
Suraj
<class 'str'>

In [ ]:
# Declaration of Variables
myvar = "Suraj"
my_var = "Suraj"
_my_var = "Suraj"
myVar = "Suraj"
MYVAR = "Suraj"
myvar2 = "Suraj"

# There are Multi Words variable names

# 1. Camel Case
myVariableName = "Ashu"
print(myVariableName)

# 2. Pascal Case
MyVariableName = "Suraj"
print(MyVariableName)

# 3. Snake Case
my_variable_name = "Priya"
print(my_variable_name)

Ashu
Suraj
Priya

In [ ]:
# Many values to multiple variables
a,b,c =  5, "Ashu", 20
print(a)
print(b)
print(c)

# One Value to Multiple Variables
a = b = c = "Suraj"
print(a)
print(b)
print(c)

# Unpack a Collection
fruits = ["Apple", "Banana", "Cherry"]
a,b,c = fruits
print(a)
print(b)
print(c)

5
Ashu
20
Suraj
Suraj
Suraj
Apple
Banana
Cherry

In [ ]:
# Output Variables

# The Python print() function is often used to output variables.
x = "Python is awesome"
print(x)


# In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

# You can also use the + operator to output multiple variables:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

x = 5
y = "John"
# print(x + y)

# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

Python is awesome
Python is awesome
Python is awesome
5 John

In [ ]:
# Global Variables
# Create a variable outside of a function, and use it inside the function
x = "Suraj"

def myfunc():
    print("Your name is " + x)

    myfunc()

    # Create a variable inside a function, with the same name as the global variable
    x = "Suraj"

def myfunc():
  x = "Amazing"
  print("your name is  " + x)

myfunc()

print("You are " + x)

your name is  Amazing
You are Suraj

# `Data Types`

In [ ]:
# int data Type
a = int(input("Enter a int number: "))
print(a)
print(type(a))

Enter a int number: 40
40
<class 'int'>

In [ ]:
# float data Type
b = float(input("Enter a float number: "))
print(b)
print(type(b))

Enter a float number: 10.08
10.08
<class 'float'>

In [ ]:
# complex data Type
c = complex(input("Enter a complex number: "))
print(c)
print(type(c))

Enter a complex number: 4+3j
(4+3j)
<class 'complex'>

In [ ]:
# boolean data Type
d = bool(int(input("Enter a boolean number (0 or 1): ")))
print(d)
print(type(d))

Enter a boolean number (0 or 1): 1
True
<class 'bool'>

In [ ]:
# str data Type
e = str(input("Enter a string: "))
print(e)
print(type(e))

Enter a string: Suraj
Suraj
<class 'str'>

In [ ]:
# list data Type
f = ["Suraj",20,"Ashu",21]
print(f)
print(type(f))

['Suraj', 20, 'Ashu', 21]
<class 'list'>

In [ ]:
# tuple data Type
g = ("Chandani",20,"Priya",21)
print(g)
print(type(g))

('Chandani', 20, 'Priya', 21)
<class 'tuple'>

In [ ]:
# set data Type
h = {"Gaurav",22,"Thakur"}
print(h)
print(type(h))

{'Thakur', 'Gaurav', 22}
<class 'set'>

In [ ]:
# dict data Type
i = {"Suraj":20, "Gaurav":21,"Chandani":20,"Rani":17}
print(i)
print(type(i))

{'Suraj': 20, 'Gaurav': 21, 'Chandani': 20, 'Rani': 17}
<class 'dict'>

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
add = a + b
sub = a - b
div = a / b
mul = a * b
rem = a % b
print("The sum is: ", add)
print("The sub is: ", sub)
print("The div is: ", div)
print("The mul is: ", mul)
print("The rem is: ", rem)

Enter first number : 25
Enter second number : 4
The sum is:  29
The sub is:  21
The div is:  6.25
The mul is:  100
The rem is:  1

# `Numbers`

In [ ]:
# Integers:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# `Casting`

# `Strings`

# `Booleans`

# `Operators`

# `Lists`

In [ ]:
# Lists are used to store multiple items in a single variable.

# Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

# # Lists are created using square brackets:
mylist = ["apple", "banana", "cherry"]
print(mylist)

# Lists allow duplicate values:
mylist = ["apple", "banana", "cherry", "apple", "cherry"]
print(mylist)

# To determine how many items a list has, use the len() function:
mylist = ["apple", "banana", "cherry"]
print(len(mylist))

# List Items - Data Types
list1 = ["apple", "banana", "cherry"] #String data type
list2 = [1, 2, 4, 9, 4, 3] #int data type
list3 = [True, False, False] #boolean data type
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']
3
['apple', 'banana', 'cherry']
[1, 2, 4, 9, 4, 3]
[True, False, False]

In [ ]:
# A list can store multiple data types values in one list
list1 = ["Suraj", 20, True, 40, "male"]
print(list1)

['Suraj', 20, True, 40, 'male']

In [ ]:
#  Check Type() of data types in python
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
# The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
<class 'list'>

Lab Date - 08/09/2025

In [ ]:
list = ["Suraj","Priya","Gaurav",20,30]
print(list)
print(list[0])
print(list[1])
print(list[-1])
print(list[-2])

list.append("Ashu") #appending an element to list
print(list)

list.insert(2,"Rajan") #inserting an element to list
print(list)

list.remove("Ashu") #removing an element from list
print(list)

['Suraj', 'Priya', 'Gaurav', 20, 30]
Suraj
Priya
30
20
['Suraj', 'Priya', 'Gaurav', 20, 30, 'Ashu']
['Suraj', 'Priya', 'Rajan', 'Gaurav', 20, 30, 'Ashu']
['Suraj', 'Priya', 'Rajan', 'Gaurav', 20, 30]

In [ ]:
list = ["Suraj","Priya","Gaurav",20,30]
print(list[0:3])
print(list[:3])
print(list[1:])
print(list[-4:-1])

['Suraj', 'Priya', 'Gaurav']
['Suraj', 'Priya', 'Gaurav']
['Priya', 'Gaurav', 20, 30]
['Priya', 'Gaurav', 20]

# `Tuples`

In [ ]:
# # Tuples are created using small brackets:
tuple = ("apple", "banana", "Suraj")
print(tuple)
print(type(tuple))

('apple', 'banana', 'Suraj')
<class 'tuple'>

Lab Date - 08/09/2025

In [ ]:
tuple = ("Suraj","Priya",50,90,"Rajan")
print(tuple)
print(tuple[0])
print(tuple[1])
print(tuple[-1])
print(tuple[-2])
tuple.index("Rajan")
tuple.count("Suraj")

('Suraj', 'Priya', 50, 90, 'Rajan')
Suraj
Priya
Rajan
90

1

In [ ]:
tuple = ("Suraj","Priya",50,90,"Rajan")
print(tuple[1:3])
print(tuple[:3])
print(tuple[1:])
print(tuple[-4:-1])

('Priya', 50)
('Suraj', 'Priya', 50)
('Priya', 50, 90, 'Rajan')
('Priya', 50, 90)

# `Sets`

Lab Date - 08/09/2025

In [ ]:
set = {"Suraj","Priya",70,"Satesh"} #Creating a set
print(set)
print(type(set))

set.add("Ashu") #adding an element in set
print(set)

set.remove(70) #removing an element from a set
print(set)

set.copy() #copying a set
print(set)

set.clear() #clearing a set
print(set)

del set #deleting a set
#print(set)

{'Satesh', 'Priya', 70, 'Suraj'}
<class 'set'>
{70, 'Suraj', 'Ashu', 'Satesh', 'Priya'}
{'Suraj', 'Ashu', 'Satesh', 'Priya'}
{'Suraj', 'Ashu', 'Satesh', 'Priya'}
set()

# `Dictionaries`

Lab Date - 08/09/2025

In [ ]:
dict = {29342:"Suraj",
        29341:"priya",
        35490:"Abhi",
        30571:"Sandeep",
        30135:"Gauri"}
print(dict)
print(dict[30571])
print(dict[29341])
print(dict[30135])
print(dict[29342])

dict.update({29342:"Ashu"}) #Updating a dictionary values
print(dict)

dict.pop(30571) #Deleting a dictionary values
print(dict)

dict.items() #Printing items of dictionary
print(dict)

dict.popitem() #Deleting last element of dictionary
print(dict)

dict.clear() #Clearing a dictionary
print(dict)

{29342: 'Suraj', 29341: 'priya', 35490: 'Abhi', 30571: 'Sandeep', 30135: 'Gauri'}
Sandeep
priya
Gauri
Suraj
{29342: 'Ashu', 29341: 'priya', 35490: 'Abhi', 30571: 'Sandeep', 30135: 'Gauri'}
{29342: 'Ashu', 29341: 'priya', 35490: 'Abhi', 30135: 'Gauri'}
{29342: 'Ashu', 29341: 'priya', 35490: 'Abhi', 30135: 'Gauri'}
{29342: 'Ashu', 29341: 'priya', 35490: 'Abhi'}
{}

# `If-Else`

In [ ]:
a = 30
b = 20
if b > a:
    print ("b is greater than a")
else: print ("b is less than a")

b is less than a

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
if b > a:
    print ("b is greater than a")
elif b < a:
    print ("b is less than a ")
else :
    print ("a is equal to b")

Enter first number : 30
Enter second number : 30
a is equal to b

In [ ]:
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
if b > a or b<a:
    print ("a and b are unequal")
else :
    print ("a is equal to b")

Enter first number : 30
Enter second number : 30
a is equal to b

In [ ]:
a =20
b = 100
if b > a or b<a:
    print ("a and b are unequal")
else :
    print ("a is equal to b")

a and b are unequal

In [ ]:
a =20
b = 100
if b > a and b<a:
    print ("a and b are unequal")
else :
    print ("a is equal to b") #this statement is wrong it is called logical error

a is equal to b

In [ ]:
a =20
b = 100
if  not (b > a or b<a):
    print ("a and b are unequal")
else :
    print ("a is equal to b")

a is equal to b

In [ ]:
a =20
b = 100
if  not (b > a and b<a):
    print ("a and b are unequal")
else :
    print ("a is equal to b")

a and b are unequal

# `Calculator `

In [ ]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))
list =['add','sub','multiply','divide']
c = input("Choose your operation : ")

for i in list:
    if (i == c):
        if(i == 'add'):
            print(a+b)
            break
        elif(i == 'sub'):
            print(a-b)
            break
        elif(i == 'multiply'):
            print(a*b)
            break
        else:
            print(a/b)
            break
else:  print("Operation not found !")

Enter First Number : 50
Enter Second Number : 60
Choose your operation : multiply
3000